.cards .card{
    background-color: #d3e8eb;
    border: none;
    border-radius: 0;
    padding: 2rem;
}

.card .card-body .card-avatar .material-icons{
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 50%;
    font-size: 4rem;
}

.card-title{
    font-size: 2rem;
}
.num{
    font-size: 3.2rem;
    font-weight: 700;
}

.list-title{
    font-size: 1.6rem;
    font-weight: 700;
}
.list-body{
    overflow: auto;
    height: 47rem;
    background-color: #d3e8eb;
    padding: 1rem;
}
.list-body::-webkit-scrollbar {
    display: none;
  }

.list-tasks{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.handle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.drag{
    font-size: 3rem;
    cursor: grab;
}
.tools{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.edit,.delete{
    cursor: pointer;
    transition: all 1s;
}
.edit:hover,.delete:hover{
    transform: rotateY(360deg);
    transition: all 1s;
}
.task{
    width: 80rem;
}

.task-title{
    font-size: 1.4rem;
    font-weight: 600;
}
.task-body{
    font-size: 1.2rem;
    font-weight: 500;
}
.status{
    display: flex;
    align-items: center;
}
.status .form-select {
    font-size: 1.3rem;
}
