<section class="login-sec d-flex justify-content-center align-items-center">
  <span class="container d-flex justify-content-around align-items-center">
    <span class="image">
      <img class="img-fluid" src="../../assets/Images/Checklist1.jpg" alt="" />
    </span>
    <span class="login-lay d-flex flex-column align-items-center gap-2">
      <span class="login-title">Login to your Account</span>
      <span class="login-form d-flex flex-column gap-1">
        <form class="form d-flex flex-column align-items-center gap-3">
          <input
            type="email"
            class="form-control"
            placeholder="Email address"
          />
          <input type="password" class="form-control" placeholder="Password" />

          <button class="btn btn-primary">Submit</button>
        </form>
        <span class="new-acc d-flex justify-content-center gap-3">
          <span>Don't have an account</span>
          <a href="">Register</a>
        </span>
      </span>
    </span>
  </span>
</section>
