<section class="login-sec d-flex justify-content-center align-items-center">
  <span class="container d-flex justify-content-around align-items-center">
    <span class="image">
      <img class="img-fluid" src="../../assets/Images/Checklist1.jpg" alt="" />
    </span>
    <span class="login-lay d-flex flex-column align-items-center gap-2">
      <span class="login-title">Login to your Account</span>
      <span class="login-form d-flex flex-column gap-1">
        <form
          class="form d-flex flex-column align-items-center gap-3"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <input
            type="text"
            class="form-control"
            name="email"
            formControlName="email"
            placeholder="Email"
            required
          />
          <div
            *ngIf="
              loginForm.get('email')?.hasError('required') &&
              loginForm.get('email')?.touched
            "
            class="error"
          >
            Email is required
          </div>
          <div
            *ngIf="
              loginForm.get('email')?.hasError('email') &&
              loginForm.get('email')?.hasError
            "
            class="error"
          >
            Invalid email address
          </div>

          <input
            type="password"
            class="form-control"
            name="password"
            formControlName="password"
            placeholder="Password"
            required
          />
          <div
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            loginForm.get('password')?.touched
          "
          class="error"
        >
          Password is required
        </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <span class="new-acc d-flex justify-content-center gap-3">
          <span>Don't have an account</span>
          <a href="register">Register</a>
        </span>
      </span>
    </span>
  </span>
</section>
