.form{
    width: 100%;
    height: 100%;
}
form{
    width: 50rem;
    background-color: #d3e8eb7f;
    padding: 2rem;
}
.form-label{
    font-size: 1.5rem;
}

textarea{
    height: 10rem;
    resize: none;
}
button{
    width: 15rem;
    height: 3rem;
    font-size: 1.4rem;
}