<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="logo d-flex align-items-center gap-4">
        <img src="../../assets/Images/todo-logo.png" alt="" />
        <span class="logo-content">TODOS</span>
      </span>
    </a>
    <span class="profile d-flex align-items-center gap-4">
      <span class="name"> Login user </span>
      <span class="profile-img">
        <img src="../../assets/Images/user.jpg" alt="" />
      </span>
    </span>
  </div>
</nav>


<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;" bis_skin_checked="1">
    
    
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Dashboard
        </a>
      </li>
      
      
      
    </ul>
    
    
  </div>