<section class="register-sec d-flex justify-content-center align-items-center">
  <aside class="container d-flex justify-content-around align-items-center">
    <span class="register-lay d-flex flex-column align-items-center gap-2">
      <span class="register-title"> Create an account </span>
      <span class="register-form d-flex flex-column gap-1">
        <form class="form d-flex flex-column align-items-center">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
          />
          <input
            type="email"
            class="form-control"
            placeholder="Email address"
          />
          <input
            type="password"
            class="form-control"
            placeholder="Password"
          />
          <input
            type="password"
            class="form-control"
            placeholder="Confirm password"
          />
          <button class="btn btn-primary">Submit</button>
        </form>
        <span class="already d-flex justify-content-center gap-1">
            <span>Already have account</span>
            <a href="">Login</a>
        </span>
      </span>
    </span>
    <span class="image"> 
        <img class="img-fluid" src="../../assets/Images/Checklist.jpg" alt="">
    </span>
  </aside>
</section>
